{% extends "ege_base.jinja" %}

{% block style %}
{{super()}}
.ovrl{background-color:rgba(255, 255, 255, 0.6);bottom:0;right:0;left:0;z-index:2;position:absolute;text-align:center;width:100%}
{% endblock %}


{% block head %}
{{super()}}
{% endblock %}


{% block title %}{{exam_type_str}} {{year}} - задачи и решения{% endblock %}


{% block topleft %}
  <a href="">{{exam_type_str}}</a>
{% endblock %}


{% block header2 %}
  <h1>{{exam_type_str}}</h1>
{% endblock %}


{% block content %}
  <div class="pad-sm">
	{% for subject in subjects %}
	  <div>
		<h2><a href="{{subject.get_absolute_url()}}">{{subject}}</a></h2>

	  </div>
	{% endfor %}
  </div>
{% endblock %}
