{% extends "ege_base.jinja" %}

{% block style %}
{{super()}}
.ovrl{background-color:rgba(255, 255, 255, 0.6);bottom:0;right:0;left:0;z-index:2;position:absolute;text-align:center;width:100%}
{% endblock %}


{% block head %}
{{super()}}
{% endblock %}


{% block title %}{{exam_type_str}} в {{year}} году{% endblock %}


{% block topleft %}
  <a href="{{url("index")}}">{{exam_type_str}}</a>
{% endblock %}


{% block header %}
{{super()}}
<div class="pad-sm w flex padt">
  <div>
	<h1 style="margin-top:0;padding-top:0">{{subject}} ({{year}})</h1>
	<span style="color:#777">Об экзамене</span>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="pad-sm">
	{% for task in tasks %}
	  <div>
		{{task}}
	  </div>
	  <div>
		{{task.as_html}}
	  </div>
	{% else %}
	  No tasks
	{% endfor %}
  </div>

  <div class="pad-sm">
	{% if user.is_superuser %}
	  Нет информации об экзамене:
	  <ul>
		<li>Сколько задач</li>
		<li>Время на экзамен</li>
	  </ul>
	{% endif %}
  </div>
{% endblock %}
