{% extends "ege_subject.jinja" %}

{# {% block header %} #}
{# {{super()}} #}
{# <div class="pad-sm w flex padt"> #}
{#   <div> #}
{# 	<h1 style="margin-top:0;padding-top:0">{{subject}} ({{year}})</h1> #}
{# 	<div id="subject_menu" class="flex grow0"> #}
{# 	  <a href="{{url("subject:index", kwargs={'subj': subj})}}">Об экзамене</a> #}
{# 	  <a href="{{url("subject:tasks:index", kwargs={'subj': subj})}}">Все задачи</a> #}
{# 	  <a href="{{url("subject:theory", kwargs={'subj': subj})}}">Теория</a> #}
{# 	</div> #}
{#   </div> #}
{# </div> #}
{# {% endblock %} #}


{% block content %}
  <div class="pad-sm">
	<div class="padtb">
	  <a href="#">Случайная задача</a>
	</div>
	{% for task in tasks %}
	  <div class="marb" style="">
		<a href="{{url("subject:tasks:task", host=host.name, kwargs={'subj':subj, 'id':task.order})}}">{{task.order}}. {{task}}</a>
	  </div>
	{% else %}
	  {% if not exam %}
		Нет информации об экзамене, включая задачи
	  {% else %}
		Нет задач
	  {% endif %}
	{% endfor %}
  </div>
{% endblock %}
