{% extends "core_template.jinja" %}

{% block style %}
{{super()}}
.ovrl{background-color:rgba(255, 255, 255, 0.6);bottom:0;right:0;left:0;z-index:2;position:absolute;text-align:center;width:100%}
{% endblock %}


{% block css %}
{{super()}}
{% if corecss %}<link rel="stylesheet" property="stylesheet" href="{{ static("pashinin_core.css") }}?v=11">{% endif %}
{% endblock %}


{% block head %}
{{super()}}
{# <script defer src="{{ static("repetitor.js") }}?v=2"></script> #}
{% endblock %}



{# {% block footer_content %} #}
{# <p><a href="//oge.{{domain}}">ОГЭ (9кл)</a></p> #}
{# <p><a href="//ege.{{domain}}">ЕГЭ (11кл)</a></p> #}
{# {% endblock %} #}
