{% extends "ege_base.jinja" %}

{% block style %}
{{super()}}
.ovrl{background-color:rgba(255, 255, 255, 0.6);bottom:0;right:0;left:0;z-index:2;position:absolute;text-align:center;width:100%}
{% endblock %}


{% block head %}
{{super()}}
{# <script defer src="{{ static("repetitor.js") }}?v=2"></script> #}
{% endblock %}


{% block title %}{{exam_type_str}} по {{po_subject}} в {{ege.year}} году{% endblock %}


{% block topleft %}
  <a href="{{url("index")}}">{{exam_type_str}}</a>
  - {{subject}}
{% endblock %}


{% block header %}
{{super()}}
<div class="pad-sm w flex padt">
  <div>
	<h1 style="margin-top:0;padding-top:0">{{subject}} ({{ege.year}})</h1>
	<span style="color:#777">Об экзамене</span>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="pad-sm">
	{% for task in tasks %}
	  <div>
		{{task}}
	  </div>
	  <div>
		{{task.as_html}}
	  </div>
	{% else %}
	  No tasks
	{% endfor %}
  </div>

  <div class="pad-sm">
	{% if ege.info %}
	  <h2>Об экзамене в {{ege.year}}</h2>
	  <span style="color:#777">{{exam_type_str}} по {{po_subject}} в {{ege.year}} году</span>
	  <span></span>
	  {{ege.info_formatted|safe}}
	{% else %}
	  {% if user.is_superuser %}
		Нет информации об экзамене:
		<ul>
		  <li>Сколько задач</li>
		  <li>Время на экзамен</li>
		</ul>
	  {% endif %}
	{% endif %}
  </div>
{% endblock %}
