{% extends "ege_base.jinja" %}

{% block style %}
{{super()}}
.ovrl{background-color:rgba(255, 255, 255, 0.6);bottom:0;right:0;left:0;z-index:2;position:absolute;text-align:center;width:100%}
{% endblock %}


{% block head %}
{{super()}}
{% endblock %}


{% block title %}{{exam_type_str}} - задачи и решения{% endblock %}


{% block topleft %}
{{exam_type_str}}
{% endblock %}


{% block header %}
{{super()}}
<div class="pad-sm w flex padt">
  <div>
	<h1 style="margin-top:0;padding-top:0">ЕГЭ</h1>
	{# <span style="color:#777">Россия, Москва</span> #}
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="pad-sm">
	{% for subject in subjects %}
	  <a href="{{subject.get_absolute_url()}}">{{subject}}</a><br/>
	{% endfor %}
  </div>
{% endblock %}
