# -*- mode: conf -*-
[program:celerybeat]
# Set full path to celery program if using virtualenv
#command=celery beat -A myapp --schedule /var/lib/celery/beat.db --loglevel=INFO
# remove the -A myapp argument if you are not using an app instance
# environment=CELERYD_PID_FILE=/tmp/celerybeat.pid
environment=CELERYD_PID_FILE={{repo}}/tmp/celery.pid

command={{vebin}}/celery beat -A pashinin --loglevel=WARNING --pidfile={{repo}}/tmp/celerybeat.pid --scheduler django_celery_beat.schedulers:DatabaseScheduler
# --loglevel=  DEBUG, INFO, WARNING, ERROR, CRITICAL, or FATAL.
#
#
# -s or --schedule /var/lib/celery/beat.db
#
# This file is a "DB" for celery schedule, you can save you schedule in
# PostgreSQL, then:
# --scheduler django_celery_beat.schedulers:DatabaseScheduler



directory={{repo}}/src
user=www-data
numprocs=1
stdout_logfile=/var/log/celery_beat.log
stderr_logfile=/var/log/celery_beat.log
autostart=true
autorestart=true
startsecs=10
# if rabbitmq is supervised, set its priority higher
# so it starts first
priority=999
