# -*- mode: conf -*-
#
# Official example of Supervisor config for Celery:
#
# https://github.com/celery/celery/blob/master/extra/supervisord/celeryd.conf
#
[program:celery]
# [program:daphne-{{domain}}]
command={{{vebin}}}/celery -A pashinin worker -q --loglevel=ERROR --pidfile={{{repo}}}/tmp/celery.pid
# -q argument now disables the startup banner

directory={{{repo}}}/src
user=www-data
numprocs=1
stderr_logfile=/var/log/supervisor/celery-{{domain}}.err.log
stdout_logfile=/var/log/supervisor/celery-{{domain}}.out.log
autostart=true
autorestart=true

startsecs=5
# default 1

# Need to wait for currently executing tasks to finish at shutdown.
# Increase this if you have very long running tasks.
stopwaitsecs = 10
# When resorting to send SIGKILL to the program to terminate it
# send SIGKILL to its whole process group instead,
# taking care of its children as well.
killasgroup=true
# if rabbitmq is supervised, set its priority higher
# so it starts first
priority=998
