{% extends "pashinin_base.jinja" %}


{% block footerc %}
  {% if user.is_superuser %}
	<span class="right">{{ip}}</span>
  {% endif %}
  <p><a href="{{url("index")}}">pashinin.com</a></p>
{% endblock %}
