<div class="pad">
  По практике на {{kafname}} нужна информация:

  <ul>
	<li>на каких предприятиях проходит практика?</li>
	<li>как часто ходить и какая потом защита?</li>
	<li>куда лучше не попадать? (или конкретно к кому)</li>
  </ul>
</div>

<a href="https://vk.com/pashinin">Напишите мне</a> эту инфу, добавлю
