{% extends "baumanka_base.jinja" %}

{% block style %}
{{super()}}
div.k{padding-top:1rem}
{% endblock %}

{% block metadescription %}Лекции, РК, чертежи и экзамены для {{kafname}}.
{% if kaf %}({{kaf.title}}){% endif %}
{% endblock %}

{% block title %}Ботва для {{kafname}}{% endblock %}


{% block nav1 %}<a href="{{url("index", host=host.name)}}">МГТУ им. Баумана</a>{% endblock %}


{% block header %}
  {{super()}}
  <div class="">
	<div class="w pad-sm">
	  <h1 class="nomar">{{kafname}} - {{kaf.title}}</h1>
	</div>

	<div class="w pad-sm">
  	  <a href="{{url("index", host=host.name)}}">Бауманка</a>
	  &gt;
	  <a href="{{url("kafedra", host=host.name, kwargs={'F':F, 'K':K})}}">{{kafname}}</a>
	</div>
  </div>
{% endblock %}


{% block breadcrumb %}
  {# <a href="{{url("baumanka:index")}}">Бауманка</a> - {{kafname}} #}
{% if kaf %}
  {# <h1>{{kafname}} - {{kaf.title}}</h1> #}
{% endif %}
{% endblock %}


{% block content %}
<div class="pad-sm">
{% if kaf %}
{% for sem in sems %}
  {% if sem.have_data %}
	<p><a href="{{url("sem", host=host.name, kwargs={'F':F, 'K':K, 'sem':sem.i})}}">Семестр {{ sem.i }}{% if sem.i == 12 %} (Диплом){% endif %}</a></p>
  {% else %}
	{% if DEBUG %}
	  <p>DEBUG: no files in /Семестр {{ sem.i }}</p>
	{% endif %}
  {% endif %}
{% else %}
{% endfor %}


<div class="padtb">
  <a href="practice">Практика на {{kafname}}</a>
</div>


{# <hr/> #}

{# <h2>А как мне открыть ... ?</h2> #}
{# <pre> #}
{# .djvu - <a target="_blank" href="http://windjview.sourceforge.net">windjview</a> #}
{# .cdw  - чертеж в КОМПАСе (torrents) #}

{# .ods \ #}
{# .odt  - открывать в <a target="_blank" href="http://www.libreoffice.org/">LibreOffice</a> #}
{# .odp / #}

{# .doc  - используйте .odt #}
{# .docx - убейтесь ап стенку, используйте .odt #}

{# .m    - файл MATLAB (обычный текст) #}
{# .nb   - Mathematica #}

{# .7z   - архив, открывать в 7zip (http://www.7-zip.org/) #}
{# .zip  - не используйте этот формат (он ущербный, не вдаваясь в детали) #}
{# .rar  - не используйте этот формат (он платный и на этом его достоинства закончились) #}
{# </pre> #}

{% if comments_on %}
<h2>Комментарии:</h2>
{% for c in comments.get_descendants() %}
{{c}}
{% endfor %}
{% endif %}

{% else %}
Пока нету ничего. 404, все дела.
{% endif %}
</div>
{% endblock %}
