{% extends "core_template.jinja" %}

{% block css %}
{{super()}}
{% if corecss %}<link rel="stylesheet" property="stylesheet" href="{{ static("pashinin_core.css") }}?v=4">{% endif %}
<link rel="stylesheet" href="{{ static("css/pashinin.css") }}" media="screen" />
{% endblock %}

{% block style %}
{{super()}}
.title{font-size:1.8rem;text-transform:uppercase;font-weight:500;}
{% endblock %}


{% block css_small %}
.myphotosize{font-size:1.8rem;text-transform:uppercase;font-weight:500;}
{% endblock %}


{% block header %}
{{super()}}
{% endblock %}


{% block footer %}
<div class="w pad" style="box-sizing:border-box;">
  {# <a href="{{url("baumanka:kafedra", kwargs={'F':'IU', 'K':2})}}">Студентам ИУ2 МГТУ им. Баумана</a> #}
</div>
{% endblock %}

{# Google author #}
{# <a href="https://plus.google.com/114613701756657371520?rel=author"></a> #}

{# languages #}
{# <ul> #}
{# 			<li><a title="en-us" href="#" class="{% if LANGUAGE_CODE == "en" or LANGUAGE_CODE == "en-us" %}active{% endif %} en">English</a></li> #}
{# 			<li><a title="ru" href="#" class="{% if LANGUAGE_CODE == "ru" %}active{% endif %} ru">Русский</a></li> #}
{# 		  </ul> #}
