{% extends "pashinin_base.jinja" %}

{% block style %}
{{super()}}
  .ovrl{background-color:rgba(255, 255, 255, 0.6);bottom:0;right:0;left:0;z-index:2;position:absolute;text-align:center;width:100%}
  .lpic{color:white}
{% endblock %}


{% block head %}
  {{super()}}
  <script defer src="{{ static("repetitor.min.js") }}"></script>
{% endblock %}


{% block title %}Репетитор по информатике, курсы программирования{% if city_specific %} в {{in_city}}{% else %}{% endif %} ({% if remote_only %}Skype{% else %}+Skype{% endif %}){% endblock %}


{% block metadescription %}Занятия по информатике: подготовка к ОГЭ, ЕГЭ, разбор профессиональных задач. {{price45}}р/45мин. Индивидуальные занятия, никаких мини-групп.{% endblock %}
{% block meta %}
<meta property="fb:app_id" content="1745714579011049" />
<meta property="og:title" content="Репетитор по информатике (Москва, Онлайн)"/>
<meta property="og:description" content="Занятия по информатике для школьников, студентов и всех будущих линуксойдов. Программирование, администрирование и разработка. ОГЭ, ЕГЭ."/>
<meta property="og:image" content="{{file("1a8126d5c7799ceb0054ac40934bb1b79aec5164")}}">
<meta property="og:type" content="article"/>
<meta property="og:url" content= "https://pashinin.com"/>
{% endblock %}


{% block beforemain %}
  <div class="block">
	<div id="index" class="abs2 center ib w100"
		 style="background:url({{file("57f203b9cf1ef10a4be793b0003d2be47f1f5159")}});
				background-color:#363231;
				">
	  <div class="w" style="text-shadow:0 1px 1px rgba(0,0,0,1),0 10px 25px rgba(0,0,0,1);overflow:visible">
		<div class="flex column-if-less-800 pad-sm">
		  <div style="text-align:left;font-size:1.0em;">
			<h1 class="nopad centered-if-less-800" style="line-height:2;">
			  Подготовка к экзаменам<br/>
			  Курсы программирования<br/>
			  Для всех
			</h1>
			<p class="hide-if-less-800">
			  Программирование и другие задачи. <br/>
			  Для школьников, студентов и взрослых.
			</p>
		  </div>
		  <div>
			<div class="ib">
			  <div class="ib" style="max-width:400px;background:rgba(255,255,255,0.0);border:0px solid #aaa">
				<span class="right padb" style="font-size:1.4em"><b>{{phone}}</b></span>
				<form id="enrollform" action="{{request.path}}" method="POST">
				  {{ csrf_input }}
				  <input name="name" type="text" value="" placeholder="Ваше имя"/>
				  <input name="phone" type="text" value="" placeholder="Skype / Телефон / Email"/>
				  <textarea cols="30" name="message" rows="10" placeholder="С чем помочь?" style="height:5em"></textarea>
				  <input class="btn btn-primary btn-large mart w100" type="submit" value="Записаться" />
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	  {# <div class="pad bred" style="bottom:0;left:0;right:0;position:absolute;height:50%"> #}
		{# </div> #}
	</div>
  </div>
{% endblock %}


{% block content %}
  {# <div style="position: relative; #}
  {# 			  padding-bottom: 56.25%; /* 16:9 */ #}
  {# 			  {\# padding-top: 25px; #\} #}
  {# 			  height: 0; #}
  {# 	"> #}
  {# 	<img alt="" src="{{static("mpv-sho2t0001.jpg")}}"/> #}
  {# </div> #}

  <div style="position: relative;
  			  padding-bottom: 56.25%; /* 16:9 */
  			  height: 0;
  	">
  	<iframe
  	  style="position: absolute;
  			 top: 0;
  			 left: 0;
  			 width: 100%;
  			 height: 100%;
  			 border:0px;
  			 "
	  frameborder="0"
  	  {# width="420" #}
  	  {# height="315" #}
  	  src="https://www.youtube.com/embed/bh-lrnDREBo"
  	  >
  	  </iframe>
  </div>

  <div class="marb">
	<h1>Экзамены</h1>
	<div style="background-size: 100px;
				min-height:128px;
				background-position: 0px 0px;
				padding-left:120px;
				background-repeat: no-repeat;
				background-image:url({{file("73623d46c165671dbf4c8315df0198ce650f51c9")}});">
	  <p>Индивидуальная подготовка к ОГЭ и ЕГЭ по <b>информатике</b> и <b>математике</b>.</p>
	  <ul>
		<li>регулярные занятия до экзамена</li>
		<li>удобное для Вас расписание</li>
		<li>индивидуально (без групп)</li>
	  </ul>
	  <p>Запись по телефону: <b>{{phone}}</b></p>
	</div>
  </div>

  <div class="mart">
	<h1>Программирование</h1>

	<div class="marb">
	  <h2>Python</h2>
	  <div style="background-size: 100px;
				  min-height:150px;
				  background-position: 0px 0px;
				  padding-left:120px;
				  background-repeat: no-repeat;
				  background-image:url({{file("2c6befcbf71d147154c0e374eea1ba5b01829920")}});">
		<p>
		  {# <a href="{{url("courses:course", kwargs={'slug': 'python-base'})}}">Python</a> #}

		  Очень <a class="external"
		  href="https://madnight.github.io/githut/">популярный язык</a>,
		  используется много где (как в компаниях, так и отдельных
		  проектах). Будет востребован еще очень долго.
		</p>
		<p>
		  У Python очень простой синтаксис. Если Вы начинаете изучать
		  программирование, это, вероятно, лучший язык для
		  старта. Причем по своим возможностям и поддержке в разных
		  проектах он не уступает другим языкам.
		</p>
	  </div>
	</div>

	<div class="marb">
	  <h2>Javascript, HTML, CSS</h2>

	  <div style="
				  background-size: 100px;
				  min-height:128px;
				  background-position: 0px 0px;
				  padding-left:120px;
				  background-repeat: no-repeat;
				  min-height:160px;
				  background-image:url({{file("a6b0ca8ddbe57cce12b921cad4d748926da2ac40")}});">
		<p>
		  <a class="external" href="https://madnight.github.io/githut/">Самый</a> используемый язык на сегодняшний день.
		</p>
		<p>
		  Применяется как для создания пользовательского интерфейса в
		  веб-сайтах, так и на серверной стороне, создания обычных
		  десктопных приложений и различных скриптов. Может таки
		  работать быстро.  Основа всего современного веба, специалисты
		  будут нужны всегда.
		</p>
		<p>
		  HTML, CSS - почти неразрывные технологии, которые очень часто
		  идут вместе с Javascript. Для создания web-сайтов нужны все 3:
		  JS+HTML+CSS.
		</p>
	  </div>
	</div>

	<div class="marb">
	  <h2>Delphi и Pascal</h2>

	  Заставляют учить в школах и ВУЗах России. Ничего полезного в
	  изучении этого языка нет, но я могу помочь и со школьной и с
	  ВУЗовской программой.



	</div>
  </div>

  <div class="mart">
	<h1>Курсы по Linux</h1>
	<div style="
				background-size: 100px;
				min-height:128px;
				background-position: 0px 0px;
				padding-left:120px;
				background-repeat: no-repeat;
				min-height:160px;
				background-image:url({{file("3b0ca8107470484c78f0a4b72db740e3a114927d")}});
				{# background-image:url({{file("74eed3961659bdf76cc187c3d317ad9f25172cfb")}}); #}
																					  ">
	  <p>
		Не слышали про Linux? А вот умные люди в Google и Yandex
		почему-то используют Linux каждый день.
	  </p>
	  <p>
		Хотите стать системным администратором или просто узнать для
		себя новую операционную систему, бесплатную, открытую и
		безопасную? Как пользователю - Вам больше не придется звать
		кого-то поставить ворованый Windows за 15000р. Как будущему
		системному администратору или разработчику - Linux для Вас будет
		основной системой на каждый день.
	  </p>
	</div>


	<div class="flex equal col-if-less-w500">
	  <div class="pad lpic" style="background-color:rgba(0,128,0,0.8);">
		<p><b>LPIC-1 101</b></p>

		<ul>
		  <li>система и оборудование</li>
		  <li>установка Linux и управление пакетами</li>
		  <li>работа в командной строке</li>
		  <li>файлы и файловые системы</li>
		</ul>

	  </div>
	  <div class="pad lpic" style="background-color:rgba(0,128,0,9);">
		<p><b>LPIC-1 102</b></p>
		<ul>
		  <li>shell и скрипты</li>
		  <li>интерфейс и рабочий стол</li>
		  <li>административные задачи</li>
		  <li>основные сервисы</li>
		  <li>сеть</li>
		  <li>безопасность</li>
		</ul>
	  </div>
	</div>
  </div>


  <div class="mart">
	<h1>Другие задачи</h1>
	<ul>
	  <li>Microsoft Office (Word, Excel, Access)</li>
	  <li>Matlab / Octave</li>
	  <li>...</li>
	</ul>
  </div>

  {# About lessons #}
  <div>
	<h1>О занятиях</h1>
	<p>
	  Все занятия индивидуальные, без мини-групп.
	</p>


	{# Time and cost #}
	<h2>Время и стоимость</h2>
	<p>
	  Занятия проводятся в любой день (по договоренности)
	</p>
	<p>
	  <table style="border-spacing: 10px;
					border-collapse: separate;
					border:1px solid #eee;
					">
		<tr>
          <th>Длительность</th>
          <th>Стоимость</th>
		</tr>
		<tr>
          <td>45мин</td>
          <td></td>
		</tr>
		<tr>
          <td>1ч</td>
          <td>{{price}}р</td>
		</tr>
		<tr>
          <td>1,5ч</td>
          <td>{{int(price*1.5)}}р</td>
		</tr>
		<tr>
          <td>2ч</td>
          <td>{{price*2}}р</td>
		</tr>
	  </table>
	</p>
	<p>
	  <a href="{{url("pay")}}">Подробнее об оплате...</a>
	</p>
	{# FAQ: сколько мне нужно занятий? #}


	<h2 class="title2">Очное обучение</h2>
	<div class="" style="overflow:auto;">
	  <img class="left marr" alt="м. Сходненская" src="{{file("6d31596ca529c2e9ec02ea01e23f74a499cabd32")}}" style="width:40%;border-radius:0%;border:1px solid #aaa"/>
	  <p style="margin-bottom:1rem">Москва, ул. Туристская 19к1</p>
	  <b>Как добраться?</b>
	  <p>
		От м. Сходненская практически любым автобусом (43, 96, 199, 212, 267, 432, 678) можно доехать до
		ост. "Туристская улица" и далее ~5мин пешком.
	  </p>
	  <p>На №96 можно проехать еще 1
		остановку (до ост. "Узел связи") и быть сразу почти на месте.</p>
	</div>
  </div>




  <div class="" style="
					   {# border-top: 1px solid rgba(0,0,0,0.075); #}
					   margin-top:2em;
					   ">
	<h2>Дистанционное обучение</h2>
	<div style="overflow:auto;">
	  <img class="right ib" alt="У себя дома"
		   src="{{file("3186be98dff2b35239ad924b47ed857dcbf2e184")}}"
		   style="width:40%;"/>
	  <ol>
		<li>Вы не тратите время и деньги на поездку по городу</li>
		<li>Вы можете быть хоть на Дальнем Востоке (и у меня такие были)</li>
		<li>эффективность занятий та же</li>
	  </ol>
	</div>
  </div>


<div class="padt mart flex"
	 style="overflow:visible;
			{# border-bottom: 1px solid rgba(0,0,0,0.075); #}
			border-top: 1px solid rgba(0,0,0,0.075);
			margin-top:3em;
			{# background-color:#fff; #}
			">
  <div class="" style="flex: 0 0 auto;">
  	<img class="photo" alt="Сергей Пашинин"
		 src="{{file("f513372f7cd59f8e63e7753d0a3ca44c2c67beb7")}}"
  		 style="width:150px;height:150px;
				border-radius:3px;
				border:1px solid #ccc;
				"/>
  </div>
  <div class="padlr ib grow0">
  	<h2 style="padding-top:0">Пашинин Сергей Александрович</h2>
	<p>
	  Я автор этого сайта. Занимаюсь обучением компьютерным технологиям
	  + математика (ЕГЭ). Любая школьная и ВУЗовская информатика, курсы
	  программирования и другие задачи.
	</p>
	<p>
	  <b>{{phone}}</b> | <a href="{{url("contacts")}}">все контакты</a>
	</p>

	{# Time #}
	{# <span style="color:#888;font-size:0.9em"> #}
	  {#   {{'%02d' % localtime(now).hour}}:{{ '%02d' % localtime(now).minute }} #}
	  {#   МСК #}
	  {# </span> #}
  </div>
</div>
{% endblock %}


{% block aftermain %}

{% endblock %}
