{% extends "core_template.jinja" %}

{% block css %}
{{super()}}
{% if corecss %}<link rel="stylesheet" property="stylesheet" href="{{ static("pashinin_core.css") }}?v=11">{% endif %}
{% endblock %}

{% block style %}
{{super()}}
.title{font-size:1.8rem;text-transform:uppercase;font-weight:500;}
{% endblock %}


{% block css_small %}
.myphotosize{font-size:1.8rem;text-transform:uppercase;font-weight:500;}
{% endblock %}


{% block topleft %}
Репетитор по информатике<span class="hide-if-less-360"> (Москва, Онлайн)</span>
{% endblock %}


{% block header %}
{{super()}}
{# Menu #}
{% if menu and menu["items"] %}
  {% set parent = menu["parent"] %}
  <div class="pa" style="overflow:visible;border-bottom: 1px solid rgba(0,0,0,0.075);">
	<div class="w" style="overflow:visible">
	  <div class="padlr2 flex">
		<div class="padtb">
		  <nav class="flex {% if menu["cls"] %}menu["cls"]{% else %}grow0{% endif %}">
			{% set root = menu["root"] %}
			{% if parent %}
			  <a class="parent" href="{{parent.url}}">{{parent.title}}</a>
			{% endif %}
			{% for item in menu["items"] %}
			  {% if item %}
				<a href="{{item.url}}">{{item.title}}</a>
			  {% endif %}
			{% endfor %}
		  </nav>
		</div>
		<div class="flex0 padr-sm hide-if-less-800" style="position:relative;padding-top:0.4em">
		  <img class="photo myphotosize left marr" alt="Сергей Пашинин" src="{{file("6c594f1a87e27c9004712bd45eada05380dcbf15")}}"
			   style="box-shadow: 0px 0px 2px #000;width:60px;height:60px;border-radius:50%;
					  position:absolute; left:-70px"/>
		  <b>{{phone}}</b><br/>
		  <span class="right" style="font-size:0.8em">Сергей Александрович</span>
		</div>
	  </div>
	</div>
  </div>
{% endif %}
{% endblock %}


{% block footer_content %}
  <a href="{{url("baumanka:kafedra", kwargs={'F':'IU', 'K':2})}}">Студентам ИУ2 МГТУ им. Баумана</a>
{% endblock %}

{# Google author #}
{# <a href="https://plus.google.com/114613701756657371520?rel=author"></a> #}

{# languages #}
{# <ul> #}
{# 			<li><a title="en-us" href="#" class="{% if LANGUAGE_CODE == "en" or LANGUAGE_CODE == "en-us" %}active{% endif %} en">English</a></li> #}
{# 			<li><a title="ru" href="#" class="{% if LANGUAGE_CODE == "ru" %}active{% endif %} ru">Русский</a></li> #}
{# 		  </ul> #}
