{% extends "pashinin_base.jinja" %}

{% block style %}
{{super()}}
ol li{margin-top:1em}
{% endblock %}

{% block title %}Вопросы{% endblock %}


{% block header2 %}
  <h1>Вопросы</h1>
{% endblock %}


{% block content %}
<div class="pad-sm">

<div class="padt2 marb">
  <span class="pad" style="background:#090;color:#fff">
	Хорошие вопросы:
  </span>
</div>

<h2>Как с Вами связаться?</h2>

<p>
  Вконтакте, Email, Skype, телефон. Если нужна помощь с конкретной задачей -
отправьте необходимые файлы через ВК или Email.
</p>

<p>
  Вы можете находиться в другом часовом поясе - лучше пишите, я всегда
  отвечу и договоримся о времени.
</p>


<h2>Где проходят занятия (адрес, фото, маршрут)?</h2>

Либо у меня (см. <a href="{{url("contacts")}}">контакты</a>), либо онлайн.


<h2>С Вами можно заниматься удаленно (по скайпу)?</h2>

Так даже лучше. Если Вы находитесь в другом городе, тогда это вообще
единственный вариант. Но и в Москве Вы сэкономите деньги и время, потому
что не надо будет их тратить на поездку по городу.

<p>А вот Ваши отговорки (да, я их знаю):</p>

<ol>
  <li><i>для нас это неудобно</i></li>

  При этом Вы не пробовали даже, или использовали один только скайп. Да,
  так неудобно, Вы просто не знаете как надо.

  <li><i>мы не воспринимаем это как нормальный способ обучения</i></li>

  Это потому-что Вам много лет и/или см. пункт 1.

  <li><i>для нас это слишком новые технологии</i></li>

  Вы хотите изучать программирование, но не освоить общение по сети...
</ol>



<h2>Что нужно для удаленного обучения?</h2>

Тихая обстановка + пара программ:

<ul>
  <li>Skype - для передачи голоса. <a href="https://www.skype.com">Скачать</a></li>
  <li>TeamViewer 11 - чтобы показать свой экран. <a href="https://www.teamviewer.com">Скачать</a></li>
</ul>

Помогу разобраться с ними бесплатно.


<h2>Что НЕ обязательно нужно для удаленного обучения?</h2>
<ul>
  <li>веб-камера (если только это не единственный микрофон)</li>
  <ol>
	<li>На моем лице мало информации для Вас - поэтому я показываю свой экран, объясняю что я делаю и как.</li>
	<li>На Вашем лице тоже мало написано - поэтому я объясню как показать мне Ваш экран, чтобы помочь со всеми действиями.</li>
  </ol>
</ul>


<h2>Вы являетесь преподавателем МГТУ им. Баумана?</h2>

Нет, я выпускник МГТУ (2013г). Также никаких личных телефонов
сотрудников МГТУ у меня нет.


<h2>Каков Ваш стаж работы репетитором?</h2>

<div class="padl-sm">
  Примерно {{exp.total_seconds() / 60 / 60 / 24 / 365.25}} года.
</div>



<div class="padlr padt2 martb">
  <span class="pad" style="background:#f33;color:#fff">
	Плохие вопросы:
  </span>
</div>

<h2>Вы гарантируете сдачу ЕГЭ/зачета/экзамена на N баллов после занятий?</h2>
<p>
  Будьте адекватнее: 90% и 100% это не одно и то же. Я не стану врать
ради рекламы. Есть вероятность, что ЕГЭ будет где-то сложнее, что Вы
пропустили необходимую консультацию (студентам), а на работу могут не
принять вообще без объяснения причин. Да и просто я не страховая
компания, я даю определенные знания.
</p>
<p>Родители, которые очень хотят услышать, что Вам что-то гарантируют
насчет Вашего ребенка, можете пойти к рекламщикам, которые так
заявляют.</p>


<h2>Как заплатить за экзамен в Бауманке?</h2>

<p>
  Даже если бы знал как и к кому обращаться - не стал бы вам помогать с
  этим.

  <div class="pad" style="background:#ffb;border:1px solid #ff0">
	<a href="{{url("index")}}" style="text-decoration:underline">Записываться</a>	ко мне нужно заранее, а не в сентябре на пересдаче
	летней сессии искать кому дать взятку. Тогда сами все сдадите.
  </div>
</p>

</div>
{% endblock %}
