{% extends "pashinin_base.jinja" %}

{% block style %}
  {{super()}}
  ol li{margin-top:1em}
  .qa{padding-bottom:1.5em}
{% endblock %}

{% block title %}Вопросы{% endblock %}


{% block header2 %}<h1>Вопросы</h1>{% endblock %}


{% block content %}

  <div class="toc">
	<ol>
	{% for qa in questions %}
	  <li style="margin:0"><a href="#q{{qa.pk}}">{{qa.question}}</a></li>
	{% else %}
	{% endfor %}
	</ol>
  </div>

  {% for qa in questions %}
	<div class="qa">
	  <h2 id="q{{qa.pk}}">{{qa.question}}</h2>
	  {{render(qa.answer)|safe}}
	</div>
  {% else %}
  {% endfor %}


<div class="pad" style="background:#ffb;border:1px solid #ff0">
  <a href="{{url("index")}}" style="text-decoration:underline">Записываться</a>	ко мне нужно заранее, а не в сентябре на пересдаче
  летней сессии искать кому дать взятку. Тогда сами все сдадите.
</div>


{% endblock %}
