pip>=9.0.1
#amqp==1.4.6            # Celery dependencies
#gevent
#git+git://github.com/surfly/gevent.git
#greenlet
# eventlet

# beautifulsoup4

# https://pypi.python.org/pypi/bleach
# >>> bleach.clean('an <script>evil()</script> example')
# u'an &lt;script&gt;evil()&lt;/script&gt; example'
bleach



# Sentry
#
# django-sudo
# git+git://github.com/teserak/logan.git@django-19
#


chardet                # encoding detection

# solid_i18n
# django-admin-bootstrapped
# django-bootstrap3
django>=1.11
# https://github.com/django/django/releases
#git+git://github.com/django/django.git@1.7

django-cache-utils
django-cacheops                # https://pypi.python.org/pypi/django-cacheops
django-debug-toolbar>=1.2.1    # https://pypi.python.org/pypi/django-debug-toolbar
django-dirtyfields
django-extensions              # https://github.com/django-extensions/django-extensions

# django-hstore                  # git+git://github.com/djangonauts/django-hstore.git
# Django has it's own:
# from django.contrib.postgres.fields import HStoreField

# CSRF errors
django-cors-headers

# Mixins for Django
django-braces


djangorestframework


django-jinja

django-nose
# git+https://github.com/django-nose/django-nose.git

django-mptt               # git+https://github.com/django-mptt/django-mptt.git
django-optimizations
django-redis-cache

# https://github.com/martinrusev/django-redis-sessions
django-redis-sessions==0.5.6

# django-sendfile           # https://github.com/johnsensible/django-sendfile
#django-polymorphic>=v0.6   # https://github.com/chrisglass/django_polymorphic
# git+https://github.com/chrisglass/django_polymorphic.git
django-sortedm2m           # https://pypi.python.org/pypi/django-sortedm2m
#django-pdb

# django-suit>=v.0.2.10
# git+https://github.com/darklow/django-suit.git

elasticsearch
flower
#guess_language-spirit
guess_language
iptools
ipython>=2.3.0
pillow
# ply
# psycopg2           # this one is not working with PyPy
#git+https://github.com/lericson/pylibmc.git

# PyEnchant is a spellchecking library for Python, based on the excellent Enchant library.
# https://pypi.python.org/pypi/pyenchant
# deps:
# apt-get install enchant
#
# pyenchant

pytz

# Use Redis instead of Memcache
# python3-memcached

python-magic
#pylibmc
pyinotify               # signals instead of polling (to reload dev server)
#PySide                 # for spynner      installed with Ansible


pytest
pytest-django>=3.1.2           # "--reuse-db"
pytest-cov
pytest-xdist
pytest-pythonpath
pytest-pep8
pytest-cache

# What is better?
# 1. python-social-auth
# 2. django-allauth
python-social-auth
# django-allauth

raven>=5.32.0
requests
six

# tl fails with pypy
# tl
# tl.rename

# tornado
# uwsgi
# werkzeug
# git+git://github.com/pashinin/autopy.git
# git+git://github.com/mozilla/elasticutils.git
#git+git://github.com/pashinin/spynner.git
# https://github.com/pashinin/spynner/zipball/master   # headless browser control


gitpython
django-netfields
django-gravatar2
# py-moneyed     # https://github.com/limist/py-moneyed

# wikipedia

# Celery - Distributed Task Queue
# pypi - https://pypi.python.org/pypi/celery/
# docs -
#
Celery>=4.0.2
jobtastic   # plugin for Celery (progress, status of a task)
# vine        # for celery (amqp)
#django-celery          # err with py3
#https://github.com/celery/django-celery/zipball/master
# https://github.com/celery/celery
#git+git://github.com/celery/celery.git@v3.1.14
# git+git://github.com/pashinin/celery.git
#
# git+git://github.com/celery/celery.git
# git+git://github.com/celery/py-amqp.git
# git+git://github.com/celery/kombu.git
# git+git://github.com/celery/billiard.git


# Transliteration (for slug in URL)
# https://pypi.python.org/pypi/Unidecode
unidecode



# channels (NOT django-channels!)
channels
asgi_redis


# Telegram bot
telepot

setuptools>=30.4.0

rparser>=0.1.19
psutil   # view system processes

# склонение слов в русском языке
pymorphy2
# pymorphy2[fast]  # need "dawg" pkg to install (cannot install with PyPy)
pymorphy2-dicts-ru

# for python lxml lib
lxml
cssselect

# for test coverage
coverage

# for subdomains handling
django-hosts


# CAS is an enterprise Single Sign-On solution for web services
django-mama-cas
django-cas-ng


# for Django daphne http2 support
Twisted[tls,http2]

# to work with anons as users
# django-lazysignup
git+git://github.com/pashinin/django-lazysignup.git

# adding history to models:
django-reversion

# for generating data in tests
factory_boy
