{% extends "articles_base.jinja" %}

{% block style %}
{{super()}}
  .article a.title{font-weight:bold;color:#333}
  .article a.title:hover{color:#555}

  .badges a {
  border: 0px solid #ccc;
  font-size:0.8em;
  background-color:#d7614b;
  color:#fff;
  }
  .badges a:visited {
  color:#fff;
  }
{% endblock %}


{% block head %}
  {{super()}}
  <script defer src="{{ static("js/articles.min.js") }}"></script>
{% endblock %}


{% block title %}{{_("Articles")}}{% endblock %}


{% block header %}
  {{super()}}
  <div class="pad-sm w flex padt">
	<div class="grow0">
	  {# <input id="new-article-btn" class="btn" type="button" name="" value="Новая статья" /> #}
	</div>
	<div class=""></div>
	{% if user.is_superuser %}
	  <div class="grow0">
		<div class="flex grow0 col">
		  <div>Всего {{stats.count}}</div>
		  <div>Черновиков {{stats.drafts}}</div>
		</div>
	  </div>
	{% endif %}
  </div>
{% endblock %}


{% block prebody %}
  {{super()}}
  {% include "template_articlelist_item.jinja" %}
{% endblock %}


{% block content %}
  <div class="padb">
	<div id="article-edit" class="hide">
	  <form action="#">
		<input name="title" type="text" value="" placeholder="Заголовок статьи"/>
		<textarea class="w100" cols="30" name="content" rows="10" placeholder="Содержание"></textarea>
		<input id="save-article-btn" class="btn btn-primary" type="button" value="Сохранить" />
	  </form>

	  <div id="help">
		<h2>Справка</h2>
		<h3>Файлы</h3>
		<pre>\file{sha1}</pre>
	  </div>
	</div>

	<div id="article-list" class="hide2 marb"></div>
	<div id="drafts-list" class="hide marb">drafts</div>
  </div>
{% endblock %}


{% block right %}
  <nav class="menu" aria-label="Person settings">
	<a id="showArticles" class="menu-item selected" href="#url" aria-current="page">Статьи</a>
	<a id="showDrafts" class="menu-item" href="#url">Черновики (<span id="drafts_count"></span>)</a>
	<a id="new-article-btn" class="menu-item" href="#url">Новая статья</a>
  </nav>
{% endblock %}
