{% extends "articles_base.jinja" %}

{% block title %}{% if article %}{{article.title}}{% endif %}{% endblock %}

{# {% block breadcrumb %}<a href="{{url("articles:index")}}">{{_("Articles")}}</a> - #}
{# {% if article %}{{article.title}}{% endif %} #}
{# {% endblock %} #}


{% block header %}
  {{super()}}
  <div class="pad padt w">
	{% if article %}<h1>{{article.title}}</h1>{% endif %}
  </div>
{% endblock %}



{% block metadescription %}{% if article %}{{article.description}}{% endif %}{% endblock %}
{% block meta %}
  {% spaceless %}
	{% if article %}
	  <meta itemprop="name" content="{{article.title}}"/>
      {# <meta itemprop="image" content="self.description"/>', #}

	  <meta property="og:url" content="{{request.scheme}}:{{article.get_absolute_url()}}"/>
	  <meta property="og:type" content="article"/>
	  <meta property="og:title" content="{{article.title}}"/>
	  <meta property="og:description" content="{{article.description}}"/>
	  {# <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg"/> #}
	{% endif %}
  {% endspaceless %}
{% endblock %}


{# {% block controls %} #}
{# <div class="left"> #}
{# <time class="timeago" title="Modification date" datetime="{{article.changed_on}}">{{article.changed_on}}</time> #}
{# {% if article.pdf %}<a href="?pdf" style="">Download pdf</a>{% endif %} #}
{# {% if not article.category %} #}
{# <a href="">{{ gettext("Choose category...") }}</a> #}
{# {% endif %} #}
{# </div> #}
{# {% if user.is_superuser %} #}
{# <div style="margin: 0 auto; display: inline-block; border:0px solid red"> #}
{# 	<ul class="group"> #}
{#         <li><a id="view_btn" class="active" href="#">{{ _('View') }}</a></li> #}
{# 		<li><a id="save_btn" style="display:none" href="#">{{ _("Save") }}</a></li> #}
{# 		<li><a id="cancel_btn" style="display:none" href="#">{{ _("Cancel") }}</a></li> #}
{#         <li><a id="edit_btn" href="#">{{ _("Edit") }}</a></li> #}
{# 	</ul> #}
{# </div> #}
{# {% endif %} #}
{# <div class="right"> #}
{# 	<a id="lang_switcher" href="#">{{ article.lng }}</a> #}
{# </div> #}
{# {% endblock %} #}


{% block content %}
  {% if article %}
	<div>
	  {{article.html|safe}}
	</div>
	{% if DEBUG %}
	  <div class="pad-sm" style="border:1px solid #ccc">
		<h3 style="color:#aaa">DEBUG info</h3>
		<div class="" style="color:#aaa">
		  {{article.as_latex|safe}}
		</div>
		<div>
		  Revisions: {{article.revision_count}}
		</div>
	  </div>
	{% endif %}
  {% else %}
	Что-то нет такой статьи
  {% endif %}
{% endblock %}

{# {% block footer %}{% endblock %} #}
