{# This is an item in a main articles list. #}
{# Title, cut, tags, ... #}

<template id="mytemplate">
  <div class="article">
	<span class="pk hide"></span>
	<div>
	  <time class="ago" datetime=""></time>
	</div>
	<h2 style="margin-bottom:.1em"><a href="" class="title"></a></h2>
	<div class="badges flex grow0">
	  <a class="draft hide padlr-sm" href="">Черновик</a>
	</div>
	<div id="cut" class="padtb"></div>
	<a id="read-article" class="btn">Читать дальше...</a>
	<a class="edit btn">Редактировать...</a>
	<input class="right btn delete red btn-danger" type="button" name="" value="Удалить" />
  </div>
</template>
