# -*- mode: conf -*-
#

[Unit]
Description=Worker (Django)
After=network.target

[Service]
# Environment=ROLE_ID=
User=www-data
Group=www-data
Restart=on-failure
RestartSec=5
WorkingDirectory={{repo}}/src
ExecStart={{vebin}}/python ./manage.py runworker --exclude-channels=root.*

[Install]
WantedBy=multi-user.target
