{% extends "pashinin_base.jinja" %}

{% block style %}
{{super()}}
ol li{margin-top:1em}
{% endblock %}

{% block title %}Sign in to {{domain}}{% endblock %}

{% block head %}
{{super()}}
<script defer src="{{ static("pashinin_login.min.js") }}"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block breadcrumb %}
  <h1 class="">Sign in to <a href="{{url("index")}}">{{domain}}</a></h1>
{% endblock %}

{% block content %}
<div class="pad">

<div class="pad r5" style="margin:auto; max-width:300px;border:1px solid #d8dee2">
  <form id="login" action="{{url("core:login", host=host.name)}}" method="POST">
	{# {{ csrf_input }} #}

	<input name="username" type="text" value="" placeholder="{{_("Email")}}"/>

	<input name="password" type="password" value="" placeholder="{{_("Password")}}"/>
	<p></p>
	<input class="btn btn-primary w100" name="submit" type="submit" value="Sign in"/>
  </form>
</div>

</div>
{% endblock %}
