{% extends "pashinin_base.jinja" %}

{% block head %}
{{super()}}
<script defer src="{{ static("js/core_celery.js") }}"></script>
{% endblock %}

{% block header %}
  {{super()}}

<div class="w pad-sm">
  {# <img class="left marr" alt="Celery" width="64px" #}
  {# 	   src="{{file("beec0e35eb960de1b0159276c7d5f4026145aa5d")}}"/> #}
  <h1>Updates</h1>
</div>
{% endblock %}

{% block content %}
<div class="pad-sm">
  {% for update in updates %}
	{{update}}
  {% else %}
	No updates
  {% endfor %}
</div>
{% endblock %}
