{% extends "pashinin_base.jinja" %}


{% block title %}Celery{% endblock %}


{% block head %}
{{super()}}
<script defer src="{{ static("js/core_celery.min.js") }}"></script>
{% endblock %}

{% block header %}
  {{super()}}

<div class="w pad-sm">
  <img class="left marr" alt="Celery"
	   style="width:64px;height:64px"
	   src="{{file("beec0e35eb960de1b0159276c7d5f4026145aa5d")}}"/>
  <h1>Celery</h1>
  {% if not celery_is_running %}
	<p>Celery is NOT running</p>
  {% endif %}
</div>
{% endblock %}


{% block content %}
  <div class="">
	{% if DEBUG %}
	  <div class="pad marb" style="border:2px solid red">
		Running in DEBUG mode. Celery runs tasks in the same thread synchronously.
	  </div>
	{% endif %}
	<div>
	  <a href="#" onclick="celery.test();return false;">Test "root" queue</a>
	</div>
	{{celery_exe}}
	{# {{inspect.stats()}} #}

	<div class="padtb">
	  Processes:
	  {# .name()  - 'glusterfs' #}
	  {# .cmdline - ['/usr/sbin/glusterfs', '--volfile-server=10.254.239.1', '--volfile-id=/v3', '/mnt/files'] #}
	  {# .exe()   - '/usr/sbin/glusterfs' #}
	  {% for p in psutil.process_iter() %}
		{# <div>{{p.exe()}}</div> #}
	  {% endfor %}
	  {# {% for p in plist %} #}
	  {# 	<div>{{p}}</div> #}
	  {# {% endfor %} #}
	</div>


	<p><b>Registered tasks:</b></p>
	{% for task in registered_tasks %}
	  <div>
		<a class="task" href="">{{task}}</a>
	  </div>
	{% else %}
	  <div>
		{% if DEBUG %}
		  <div>
			There are no tasks here in DEBUG
			mode. inspect.registered_tasks() just returns nothing.
		  </div>
		{% endif %}
	  </div>
	{% endfor %}

	<div class="mart">
	  <a id="run_celery" href="{{url("celery")}}">Run Celery</a>

	  <textarea cols="30" id="log" rows="10"></textarea>
	</div>
  </div>
{% endblock %}
