{% extends "core_base.jinja" %}

{% block title %}{% endblock %}


{% block css %}
  {{super()}}
  <link rel="stylesheet" property="stylesheet" href="{{ static("css/core.css") }}">
{% endblock %}


{% block prebody %}
{% if user.is_superuser %}
<div id="bodyupload" class="hide noprint" style="position:fixed; background-color: rgba(0,0,0,0.4); width:100%;height:100%;z-index:1000;padding:4rem;box-sizing:border-box;">
  <div style="border:10px dashed #ddd; font-size:4rem;color:#ddd;padding:2rem;border-radius:1rem;box-sizing:border-box;position:fixed;bottom:2rem;right:2rem;left:2rem;top:4rem;text-align:center">Загрузить файлы</div>
</div>
{% endif %}
{% endblock %}


{% block header %}
  <div id="notification" {% if self.notification() %}class="pad-sm"{% endif %}
	   style="border-top:2px solid #F48024;">
	<div class="w">
	  {% block notification %}{% endblock %}
	</div>
  </div>
  {% include 'core_top_menu.jinja' %}
  {% if self.header2() %}
	<div class="pa" style="overflow:visible;border-bottom: 1px solid rgba(0,0,0,0.075);">
  	  <div class="w" style="overflow:visible">
  		<div class="pad-sm">
		  {% block header2 %}{% endblock %}
  		</div>
  	  </div>
	</div>
  {% endif %}
{% endblock %}


{% block main %}
  <div class="w flex pad" style="background-color:#fff;box-shadow: 0 0 3px rgba(0,0,0,0.3);">
	{% if self.left() %}
	  <aside class="l hide padtb lside padl noprint" style="width:200px;flex-grow:0;position:relative;">{% block left %}{% endblock %}</aside>
	{% endif %}

	{% if self.content() %}
	  <div style="position:relative;padding-top:0px">
		<div>
		  {# {% if self.breadcrumb() %} #}
		  {# 	<div class="pad-sm" style="border-bottom:0px solid #ddd"> #}
		  {# 	  {% block breadcrumb %}{% endblock %} #}
		  {# 	</div> #}
		  {# {% endif %} #}
		  {% block content %}{% endblock %}
		</div>
	  </div>
	{% endif %}
	{% if self.right() %}
	  <aside class="noprint grow0 pad-sm" style="max-width:30%;{# background-color:#edeef0 #}">{% block right %}{% endblock %}</aside>
	{% endif %}
  </div>
{% endblock %}
