{% extends "pashinin_base.jinja" %}

{% block head %}
{{super()}}
<script defer src="{{ static("js/core_updates.js") }}"></script>
{% endblock %}

{% block header %}
  {{super()}}

<div class="w pad-sm">
  {# <img class="left marr" alt="Celery" width="64px" #}
  {# 	   src="{{file("beec0e35eb960de1b0159276c7d5f4026145aa5d")}}"/> #}
  <h1>Updates</h1>
</div>
{% endblock %}

{% block content %}
<div class="pad-sm">
  <div class="updates">
	{% for update in updates %}
	  <div>
		<b>{{update}}</b><br/>
		<time class="timeago" datetime="{{update.started}}">{{update.started}}</time>
		{# {% if update.length %} #}
		{#   <time>{{update.length}}</time> #}
		{# {% endif %} #}
		<a class="log" href="#">Show log</a>
		<div class="log hide">
		  <pre>{{update.log}}</pre>
		</div>
	  </div>
	{% else %}
	  No updates
	{% endfor %}
  </div>
</div>
{% endblock %}
