{% extends "pashinin_base.jinja" %}

{% block head %}
{{super()}}
<script defer src="{{ static("js/core_celery.js") }}"></script>
{% endblock %}

{% block header %}
  {{super()}}

<div class="w pad-sm">
  <img class="" alt="Celery" width="64px"
	   src="{{file("beec0e35eb960de1b0159276c7d5f4026145aa5d")}}"/>
  {% if not celery_is_running %}
	Celery is NOT running
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="pad-sm">
  {# {{inspect.stats()}} #}

  Registered tasks:
  {% for task in registered_tasks %}
	<div>{{task}}</div>
  {% else %}
	none
  {% endfor %}

  <div>
	<a id="run_celery" href="{{url("core:celery")}}">Run Celery</a>

	<textarea cols="30" id="log" name="" rows="10"></textarea>
  </div>
</div>
{% endblock %}
