{% extends "core_base.jinja" %}

{% block title %}{% endblock %}

{% block head %}
{{super()}}
{# <script defer src="{{ static("s.js") }}"></script> #}
{% endblock %}

{% block prebody %}
{% if user.is_superuser %}
<div id="bodyupload" class="hide noprint" style="position:fixed; background-color: rgba(0,0,0,0.4); width:100%;height:100%;z-index:1000;padding:4rem;box-sizing:border-box;">
  <div style="border:10px dashed #ddd; font-size:4rem;color:#ddd;padding:2rem;border-radius:1rem;box-sizing:border-box;position:fixed;bottom:2rem;right:2rem;left:2rem;top:4rem;text-align:center">Загрузить файлы</div>
</div>
{% endif %}
{% endblock %}


{% block header %}
{% if self.adminmenu() and user.is_superuser and False %}
  <div class="w">
	{% block adminmenu %}
	  {# <a href="{{url("adm:index")}}">Админка</a> #}
	  {# <a href="{{url("adm:pip")}}">pip</a> #}
	{% endblock %}
  </div>
{% endif %}
<div class="" style="background-color:#f5f5f5;overflow:visible;border-bottom:1px solid #e5e5e5;z-index:2;">
  <div class="w" style="overflow:visible;">
	<div class="flex" style="overflow:visible;">
	  <div class="padl-sm" style="line-height:35px">
		{% block topleft %}{% endblock %}
	  </div>
	  <div style="text-align:right;position:relative;height:100%;overflow:visible;padding-right:.3em;line-height:34px">
		{% if user.is_authenticated %}
		  <a id="profile" class="ib padlr-sm" href="" style="text-decoration:none;height:35px;">
			<img class="hpad2 ib" alt="" src="{{ user.gravatar() }}" style="border:0px solid #ccc; width:21px;"/>
			<span class="ib" style="width: 0; height: 0; border:4px solid transparent; border-top-color: #000;"></span>
		  </a>
		  <div id="loginbox" class="hide popup">
			{# Add some superuser menu items: #}
			{% if user.is_superuser %}
			  <a class="padlr" href="{{url("index")}}">Main page</a>
			  <a class="padlr" href="{{url("admin:index")}}">Django admin</a>
			  <a class="padlr" href="{{url("files:index")}}">Files</a>
			  <a class="padlr" href="{{url("core:celery")}}">Celery</a>
			  <a class="padlr" href="{{url("core:updates")}}">Updates</a>
			{% endif %}

			<a id="exit" class="padlr" href="{{url("logout")}}">Выход</a>
		  </div>
		{% else %}{# user is not authenticated #}
		  <a href="{{url("login")}}?return={{request.get_full_path()}}">Войти</a>
		{% endif %}
	  </div>
	</div>
  </div>
</div>

{# Menu #}
{% if menu and menu["items"] %}
  {% set parent = menu["parent"] %}
  {# {% if parent %} #}
	<div class="pa" style="overflow:visible;border-bottom: 1px solid rgba(0,0,0,0.075);">
	  <div class="w" style="overflow:visible">
		<div class="padlr2 flex">
		  <nav class="flex {% if menu["cls"] %}menu["cls"]{% else %}grow0{% endif %}">
			{% set root = menu["root"] %}
			{% if parent %}
			  <a class="parent" href="{{parent.url}}">{{parent.title}}</a>
			{% endif %}
			{% for item in menu["items"] %}
			  {% if item %}
				<a href="{{item.url}}">{{item.title}}</a>
			  {% endif %}
			{% endfor %}
		  </nav>
		</div>
	  </div>
	</div>
  {# {% endif %} #}
{% endif %}
{% endblock %}


{% block main %}
{% block maintop %}{% endblock %}
<div class="w flex" style="height:100%;">
  {% if self.left() %}
	<aside class="l hide padtb lside padl noprint" style="width:200px;flex-grow:0;position:relative;">{% block left %}{% endblock %}</aside>
  {% endif %}

  <div class="" style="position:relative;padding-top:0px">
	<div class="rtop5px" style="background-color:#fff;">   {# #cdcdcd #}
	  {% if self.breadcrumb() %}
		<div class="pad-sm" style="border-bottom:0px solid #ddd">
		  {% block breadcrumb %}{% endblock %}
		</div>
	  {% endif %}
	  {% block content %}{% endblock %}
	</div>
  </div>

  {% if self.right() %}
	<aside class="pad noprint" style="flex:0 0 250px;position:relative;">{% block right %}{% endblock %}</aside>
  {% endif %}
  </div>
{% endblock %}


{% block footer%}
<div class="w noprint pad-sm">
  {% block footerc %}
	{% if user.is_superuser %}<span class="right">{{ip}}</span>{% endif %}
	<p><a href="{{url("index")}}">pashinin.com</a></p>
  {% endblock %}
</div>
{% endblock %}
