<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="alternate" hreflang="ru" href="https://pashinin.com{{request.path}}" />
{% if favicon %}<link rel="shortcut icon" href="/favicon.ico?v={{favicon}}" />{% endif %}
{% if fetch or True %}{# https://github.com/github/fetch #}
<script defer src="{{ static("js/fetch2.0.2.min.js") }}"></script>
{% endif %}
<script defer src="{{ static("js/serialize.js") }}"></script>
{% if jquery and False %}
<script defer src="{{ static("js/jquery-3.1.1.min.js") }}"></script>
<script defer src="{{ static("js/serialize-object.2.5.0.min.js") }}"></script>{# https://github.com/macek/jquery-serialize-object #}
{% endif %}
{% if ravenjs %}
<script src="{{ static("ravenjs/3.2.1.js") }}"></script>
<script>Raven.config('//{{RAVEN_PUBLIC}}@sentry.pashinin.com/2', {whitelistUrls: ['pashinin.com', 'dev.pashinin.com']}).install();</script>
{% endif %}
{% if DEBUG and livereload %}<script src="{{static("js/livereload.js")}}"></script>{% endif %}
{% if timeago %}{# https://github.com/hustcc/timeago.js #}
<script defer src="{{ static("timeago/timeago.min.js") }}"></script>
{% if LANGUAGE_CODE == "ru" %}
<script defer src="{{ static("timeago/ru.js") }}"></script>
{% endif %}
{# <script>$.timeago.settings.allowFuture = true;</script> #}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
if (typeof timeago == 'function') {
var timeagoInstance = new timeago();
timeagoInstance.render(document.querySelectorAll('.timeago'));}});
</script>
{# <script defer src="{{ static("timeago/timeago.js") }}"></script> #}
{% endif %}
{% if user.is_superuser %}
{# <script defer src="{{ static("SIPml-api.js") }}"></script> #}
{# <script defer src="{{ static("jssip2.0.3.min.js") }}"></script> #}
{# <script defer src="{{ static("sip-0.7.5.min.js") }}"></script> #}
{% endif %}
{% if ckeditor %}
{# <link rel="stylesheet" href="js/ckeditor/dev/builder/release/ckeditor/contents.css"> #}
  <script src="{{ static("js/ckeditor/dev/builder/release/ckeditor/ckeditor.js") }}"></script>
{% endif %}
{% if nouislider %}
  <link rel="stylesheet" href="{{ static("nouislider.8.5.1/nouislider.min.css") }}">
  <script src="{{ static("nouislider.8.5.1/nouislider.min.js") }}"></script>
{% endif %}
{% if katex %}
<link rel="stylesheet" href="{{ static("katex/katex.min.css") }}">
<script src="{{ static("katex/katex.min.js") }}"></script>
<script>
$(document).ready(function() {
  $(".math, math").each(function() {
    var texTxt = $(this).text();
    el = $(this).get(0);
    if(el.tagName == "DIV"){
        addDisp = "\\displaystyle";
    } else {
        addDisp = "";
    }
    try {
        katex.render(addDisp+texTxt, el);
    }
    catch(err) {
        $(this).html("<span class='err'>"+err);
    }
  });
});
</script>
{% endif %}
{% if mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },

    "HTML-CSS": {
		availableFonts: ["TeX"],
		linebreaks: { automatic: true },
		styles: {
			".MathJax": {
				//"text-align": "center",
				//margin: "0em 1em"
			},
		//".MathJax .merror": {
		//   "background-color": "#FFFF88",
		//   "color":   "#CC0000",
		//   "border":  "1px solid #CC0000",
		//   "padding": "1px 3px",
		//   "font-style": "normal",
		//   "font-size":  "90%"
		//   }
		}
	},
	SVG: { linebreaks: { automatic: true } },
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endif %}
{% if filesizejs %}
<script src="{{ static("filesize.js/3.3.0.js") }}"></script>
{% endif %}
<script defer src="{{ static("js/main.js") }}?v=3"></script>
{% if dropzone %}{# should be after main.js (getCookie() function) #}
<script defer src="{{ static("dropzone/dropzone.min.js") }}"></script>
{% if user.is_superuser %}
<script defer src="{{ static("dropzones/body.js") }}"></script>
{% endif %}
{% endif %}
{% if hljs %}
{# <link rel="stylesheet" href="{{ static("js/hljs/src/styles/docco.css") }}"> #}
  {# <script src="{{ static("js/hljs/build/highlight.pack.js") }}"></script> #}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
{% if chartjs %}
<script src="/_s/js/chartjs/Chart.min.js"></script>
<script>
 /* Chart.defaults.global.responsive = true; */
 var g = Chart.defaults.global;
 g.animation=false;
 g.responsive = true;
</script>
{% endif %}
