<h3>МНПК Авионика</h3>
    Всегда старайтесь попасть туда. Там нормальное к студентам отношение.
    (Руководители - Можаров или от универа кто-то)

<h3>НПО Техномаш</h3>

<q>
Если у Альберта Мубараковича Комалдинова - то не оч то и халявно.  На
уровне - один раз в неделю минимум + в конце преза с выступлением</q>
<p>(По мне так - это не сильно напряжно)</p>

<h3>НИИ "Полюс"</h3>

<p>
Никогда (совсем, вообще, STOP!11) не попадите на практику в НИИ
Полюс. Эти уе*ки рассматривают студентов как бесплатные руки, которые
им дали в пользование на месяц. А там кому как "повезет": батрачить на
них или на побегушках быть. Говорят ходить каждый день, при этом самих
нет каждый день - приходишь, ждешь, ждешь, ждешь и уходишь.
</p>

<p>
Я (автор сайта) проходил там курьерские курсы (по доставке бумажек в
другой конец Москвы), кто-то сидел и выполнял рутинную работу.
</p>

<p>
По окончании практики предлагали охуенную зарплату, целых
23тыс.р. (2012). Сулили сразу 100 как главному инженеру, ага.
</p>

<p>
Работа состоит в том, чтобы сидеть у гудящих установок и раз в 2-3
часа кое-что писать на бумажке. Для эрудитов в общем.
</p>

<p>
Программистскую работу не показывали, аргументировали так: хули, все
равно не вникнешь за 3 недели.
</p>

<p>
Кстати, после этой практики все только начинается, вместо Авионики
(или еще чего) у вас будут 3 интересных товарища принимать зачет. И
на лекции ходить, ага.
</p>

<p>Известные персонажи:</p>
<ul>
  <li>Колбас (+5 к неадекватности, +10 к наглости)</li>
</ul>

<p>
PS: на Полюсе есть и нормальные отделы (одногруппник работает там).
</p>
